#cloud-config.bastion-host.yml
users:
  - name: fiscalismia
    groups: [users, admin]
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: true

package_update: true
package_upgrade: true
packages:
  - fail2ban     # SSH brute-force protection

runcmd:
  # Initialize logfile
  - export logfile="/root/cloud-config.log"
  - echo "Hello from cloud-config.bastion-host.yml!" > ${logfile}
  # Configure Fail2Ban to protect sshd
  - echo "[sshd]\nenabled = true" > /etc/fail2ban/jail.local
  - systemctl enable --now fail2ban
  - printf "\nFail2Ban SSHD Config:" >> ${logfile}
  - cat /etc/fail2ban/jail.local >> ${logfile}
  - printf "\nsystemctl status of fail2ban:"
  - systemctl is-active fail2ban >> ${logfile} 2>&1