#cloud-config
users:
  - name: fiscalismia
    groups: [users, admin]
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: true

runcmd:
  # Make yourself known to host
  - echo "Hello from cloud-config.production-instances.yml!" > ~/hello_world.txt
  - ip route add default via 172.24.1.4 # NAT Gateway IPV4 in fiscalismia-private-production-network