#cloud-config.bastion-host.yml
users:
  - name: fiscalismia
    groups: [users, admin]
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: true

write_files:
  ### TEMPORARY HTTP/HTTPS INTERNET ACCESS ###
  - path: /root/scripts/nat_gw_ephemeral_public_egress.sh
    encoding: b64
    content: ${nat_gw_ephemeral_public_egress_b64}
    permissions: "0755"

  ### INSTALL NETWORK HARDENING TOOLS ###
  - path: /root/scripts/install-network-hardening-tools.sh
    encoding: b64
    content: ${install_network_hardening_tools_b64}
    permissions: "0755"

runcmd:
  # Initialize logfile
  - export logfile="/root/cloud-config.log"
  - echo "Hello from cloud-config.bastion-host.yml!" > $logfile
  - date >> $logfile
  ########################### TEMPORARY HTTP/HTTPS INTERNET ACCESS ###########################
  # wait for nat gateway to initialize
  - printf "\n# Sleeping to wait for NAT-Gateway cloud-init\n" >> $logfile
  - sleep 600 # 10 minutes
  - printf "\n# Running NAT Gateway setup script\n" >> $logfile
  - /root/scripts/nat_gw_ephemeral_public_egress.sh ${PRIVATE_IP_TO_NAT} >> $logfile 2>&1
  ######################################################################################
  # Configure Fail2Ban to protect sshd
  - sudo dnf install fail2ban -y --quiet
  - |
    printf "[sshd]\nenabled = true" > /etc/fail2ban/jail.local
    systemctl enable --now fail2ban
    printf "\n# Fail2Ban SSHD Config:\n" >> $logfile
    cat /etc/fail2ban/jail.local >> $logfile
    printf "\n# systemctl status of fail2ban:\n" >> $logfile
    systemctl is-active fail2ban >> $logfile 2>&1
  # install network hardening tools for security evaluation of firewall rules
  - /root/scripts/install-network-hardening-tools.sh $logfile
  # reboots server for network config to take effect
  - printf "\n# Rebooting server...\n" >> $logfile
  - date >> $logfile
  - reboot