#cloud-config
users:
  - name: devops
    groups: [users, admin]
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: true

package_update: true
package_upgrade: true
packages:
  - fail2ban     # SSH brute-force protection

runcmd:
  # Configure Fail2Ban to protect sshd
  - printf "[sshd]\nenabled = true" > /etc/fail2ban/jail.local
  - systemctl enable --now fail2ban
  - echo "Hello from cloud-config.yml!" > ~/hello_world.txt