#cloud-config.demo-instance.yml
users:
  - name: fiscalismia
    groups: [users, admin]
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: true

write_files:
  ### Adds a route for default network traffic to the subnet Gateway subnet_private_class_b_demo_isolated
  - path: /etc/NetworkManager/dispatcher.d/ifup-local
    content: |
      #!/bin/sh

      nm-online -q --timeout=30
      if ! ip route show default | grep -q "via 172.20.0.1"; then
          ip route add default via 172.20.0.1
      fi
    permissions: '0755'

  ### Adds DNS Servers for resolving domain names
  - path: /etc/systemd/resolved.conf
    content: |
      [Resolve]
      DNS=185.12.64.2 185.12.64.1
      FallbackDNS=8.8.8.8
    append: true

runcmd:
  # Initialize logfile
  - export logfile="/root/cloud-config.log"
  - echo "Hello from cloud-config.demo-instance.yml!" > ${logfile}
  # Configure Fail2Ban to protect sshd
  - echo "[sshd]\nenabled = true" > /etc/fail2ban/jail.local
  - systemctl enable --now fail2ban
  - printf "\nFail2Ban SSHD Config:" >> ${logfile}
  - cat /etc/fail2ban/jail.local >> ${logfile}
  - printf "\nsystemctl status of fail2ban:"
  - systemctl is-active fail2ban >> ${logfile} 2>&1
  # list NetworkManager Config
  - printf "\nNetworkManager Dispatcher Config is:" >> ${logfile}
  - cat /etc/NetworkManager/dispatcher.d/ifup-local >> ${logfile}
  # list systemd DNS Config
  - printf "\nsystemd DNS config:"
  - cat /etc/systemd/resolved.conf >> ${logfile}
  # reboots server for network config to take effect
  - printf "\nRebooting server..." >> ${logfile}
  - reboot