#cloud-config.production-instances.yml
users:
  - name: fiscalismia
    groups: [users, admin]
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: true

write_files:
  ### Adds a route for default network traffic to the singular virtual network Gateway for network_private_class_b_production
  - path: /etc/NetworkManager/dispatcher.d/ifup-local
    content: |
      #!/usr/bin/env bash

      nm-online -q --timeout=30 # wait for NetworkManager
      if ! ip route show default | grep -q "via ${VIRTUAL_NETWORK_GATEWAY}"; then
          ip route add default via ${VIRTUAL_NETWORK_GATEWAY}
      fi
    permissions: '0755'

  ### Adds DNS Servers for resolving domain names
  - path: /etc/systemd/resolved.conf
    content: |
      [Resolve]
      DNS=185.12.64.2 185.12.64.1
      FallbackDNS=8.8.8.8
    append: true

  ### INSTALL PODMAN & DOCKER COMPOSE V2 ###
  - path: /root/scripts/install-podman-docker-compose-fedora.sh
    encoding: b64
    content: ${install_podman_docker-compose_b64}
    permissions: "0755"

  ### INSTALL NETWORK HARDENING TOOLS ###
  - path: /root/scripts/install-network-hardening-tools.sh
    encoding: b64
    content: ${install_network_hardening_tools_b64}
    permissions: "0755"

  ### Copy certbot tls fetch and validation script for later pipeline execution ###
  - path: /root/scripts/fetch-and-validate-tls-certificates.sh
    encoding: b64
    content: ${fetch_and_validate_tls_certificates_b64}
    permissions: "0755"

  ### Adds nftables installation and configuration to lockdown private IPv4 access ###
  - path: /root/scripts/nftables_lockdown_private_instances.sh
    encoding: b64
    content: ${nftables_lockdown_private_instances_b64}
    permissions: "0755"

runcmd:
  # Initialize logfile
  - export logfile="/root/cloud-config.log"
  - echo "Hello from cloud-config.production-instances.yml!" > $logfile
  - date >> $logfile
  # list NetworkManager Config
  - printf "\n# NetworkManager Dispatcher Config is:\n" >> $logfile
  - cat /etc/NetworkManager/dispatcher.d/ifup-local >> $logfile
  # list systemd DNS Config
  - printf "\n# systemd DNS config is:\n" >> $logfile
  - cat /etc/systemd/resolved.conf >> $logfile
  ########################### TEMPORARY HTTP/HTTPS INTERNET ACCESS ###########################
  # wait for nat gateway to initialize
  - printf "\n# Sleeping to wait for NAT-Gateway cloud-init\n" >> $logfile
  - sleep 600 # 10 minutes
  # add temporary internet access, equivalent command to above setup for persistent access
  - echo "# Adding temporary internet access for nftables installation..." >> $logfile
  - sudo /etc/NetworkManager/dispatcher.d/ifup-local
  - ip route flush cache
  - sudo systemctl restart systemd-resolved
  # Install AWS CLIv2 for certbot route53 plugin
  - sudo dnf install -y --quiet awscli2
  - echo "Installed AWS Cli Version:" >> $logfile
  - aws --version >> $logfile
  # Install podman and docker-compose v2 plugin
  - printf "\n# Installing podman and docker compose v2 plugin\n" >> $logfile
  - /root/scripts/install-podman-docker-compose-fedora.sh >> $logfile 2>&1
  # install network hardening tools for security evaluation of firewall rules
  - /root/scripts/install-network-hardening-tools.sh $logfile
  # Lockdown private network interface access to minimal required config
  - |
    /root/scripts/nftables_lockdown_private_instances.sh \
      ${LOADBALANCER_PRIVATE_IP} \
      ${BASTION_HOST_PRIVATE_IP} \
      ${NAT_GATEWAY_PRIVATE_IP} \
      ${VIRTUAL_NETWORK_GATEWAY} \
      >> $logfile 2>&1
  # reboots server for network config to take effect
  - printf "\n# Rebooting server...\n" >> $logfile
  - date >> $logfile
  - reboot