#cloud-config.loadbalancer.yml
users:
  - name: fiscalismia
    groups: [users, admin]
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: true

write_files:
  ### TEMPORARY HTTP/HTTPS INTERNET ACCESS ###
  - path: /root/scripts/nat_gw_ephemeral_public_egress.sh
    encoding: b64
    content: ${nat_gw_ephemeral_public_egress_b64}
    permissions: "0755"

  ### INSTALL PODMAN & DOCKER COMPOSE V2 ###
  - path: /root/scripts/install-podman-docker-compose-fedora.sh
    encoding: b64
    content: ${install_podman_docker-compose_b64}
    permissions: "0755"

runcmd:
  # Initialize logfile
  - export logfile="/root/cloud-config.log"
  - echo "Hello from cloud-config.loadbalancer.yml!" > $logfile
  - date >> $logfile
  ########################### TEMPORARY HTTP/HTTPS INTERNET ACCESS ###########################
  # wait for nat gateway to initialize
  - printf "\n# Sleeping to wait for NAT-Gateway cloud-init\n" >> $logfile
  - sleep 600 # 10 minutes
  - printf "\n# Running NAT Gateway setup script\n" >> $logfile
  - /root/scripts/nat_gw_ephemeral_public_egress.sh ${PRIVATE_IP_TO_NAT} >> $logfile 2>&1
  ######################################################################################
  # Install podman and docker-compose v2 plugin
  - printf "\n# Installing podman and docker compose v2 plugin\n" >> $logfile
  - /root/scripts/install-podman-docker-compose-fedora.sh >> $logfile 2>&1
  # install dig, netcat and nmap for security evaluation of firewall rules
  - sudo dnf install nmap-ncat dig -y --quiet
  - echo "Installed [nmap] port scanner version:$(nmap --version)." >> $logfile
  - echo "Installed [nc] port scanner version:$(nc --version)." >> $logfile
  - echo "Installed [dig] dns resolver version:$(dig -v)." >> $logfile
  # Allow unpriviledged user running the HAProxy docker container to bind to ports below 1024
  - echo "net.ipv4.ip_unprivileged_port_start=80" | sudo tee /etc/sysctl.d/nonroot_can_bind_to_low_ports.conf
  - sudo sysctl --system >> $logfile 2>&1
  - printf "\nVerifying sysctl config file content:\n" >> $logfile
  - sudo cat /etc/sysctl.d/nonroot_can_bind_to_low_ports.conf >> $logfile 2>&1