#cloud-config.nat-gateway.yml
users:
  - name: fiscalismia
    groups: [users, admin]
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: true

package_update: true
package_upgrade: true
packages:
  - fail2ban     # SSH brute-force protection
  - iptables
  - iptables-services

write_files:

  # NetworkManager provides a way to run custom user scripts.
  # It runs scripts in /etc/NetworkManager/dispatcher.d/ in alphabetical order.
  # Each script must be an executable file owned by root and must have write permission only for the file owner.
  - path: /etc/NetworkManager/dispatcher.d/ifup-local
    content: |
      #!/bin/sh

      # enable ip forwarding
      echo 1 > /proc/sys/net/ipv4/ip_forward

      # subnet_private_class_b_demo_isolated
      iptables -t nat -A POSTROUTING -s '172.20.0.0/30' -o eth0 -j MASQUERADE

      # subnet_private_class_b_production_isolated
      iptables -t nat -A POSTROUTING -s '172.24.0.0/28' -o eth0 -j MASQUERADE
    permissions: '0755'

runcmd:
  # Initialize logfile
  - export logfile="/root/cloud-config.log"
  - echo "Hello from cloud-config.nat-gateway.yml!" > ${logfile}
  # Configure Fail2Ban to protect sshd
  - echo "[sshd]\nenabled = true" > /etc/fail2ban/jail.local
  - systemctl enable --now fail2ban
  - printf "\nFail2Ban SSHD Config:" >> ${logfile}
  - cat /etc/fail2ban/jail.local >> ${logfile}
  - printf "\nsystemctl status of fail2ban:"
  - systemctl is-active fail2ban >> ${logfile} 2>&1
  # Tests iptables installation
  - printf "\niptables location is:" >> ${logfile}
  - which iptables >> ${logfile} 2>&1
  # list NetworkManager Config
  - printf "\nNetworkManager Dispatcher Config is:" >> ${logfile}
  - cat /etc/NetworkManager/dispatcher.d/ifup-local >> ${logfile}
  # reboots server for network config to take effect
  - printf "\nRebooting server..." >> ${logfile}
  - reboot