#cloud-config.production-instances.yml
users:
  - name: fiscalismia
    groups: [users, admin]
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: true

write_files:
  ### Adds a route for default network traffic to the singular virtual network Gateway for network_private_class_b_production
  - path: /etc/NetworkManager/dispatcher.d/ifup-local
    content: |
      #!/usr/bin/env bash

      nm-online -q --timeout=30 # wait for NetworkManager
      if ! ip route show default | grep -q "via ${VIRTUAL_NETWORK_GATEWAY}"; then
          ip route add default via ${VIRTUAL_NETWORK_GATEWAY}
      fi
    permissions: '0755'

  ### Adds DNS Servers for resolving domain names
  - path: /etc/systemd/resolved.conf
    content: |
      [Resolve]
      DNS=185.12.64.2 185.12.64.1
      FallbackDNS=8.8.8.8
    append: true

  ### INSTALL PODMAN & DOCKER COMPOSE V2 ###
  - path: /root/scripts/install-podman-docker-compose-fedora.sh
    encoding: b64
    content: ${install_podman_docker-compose_b64}
    permissions: "0755"

  ### Adds nftables installation and configuration to lockdown private IPv4 access ###
  - path: /root/scripts/nftables_lockdown_private_instances.sh
    encoding: b64
    content: ${nftables_lockdown_private_instances_b64}
    permissions: "0755"

runcmd:
  # Initialize logfile
  - export logfile="/root/cloud-config.log"
  - echo "Hello from cloud-config.production-instances.yml!" > $logfile
  - date >> $logfile
  # list NetworkManager Config
  - printf "\n# NetworkManager Dispatcher Config is:\n" >> $logfile
  - cat /etc/NetworkManager/dispatcher.d/ifup-local >> $logfile
  # list systemd DNS Config
  - printf "\n# systemd DNS config is:\n" >> $logfile
  - cat /etc/systemd/resolved.conf >> $logfile
  # reboots server for network config to take effect
  - printf "\n# Rebooting server...\n" >> $logfile
  - date >> $logfile
  - reboot