- name: Create new linux user for docker
  hosts: all
  become: true
  become_method: sudo
  roles:
    - roles_provisioning/0-create-permit-docker-user

- name: Add public key to authorized_keys for docker user
  hosts: all
  become: true
  become_method: sudo
  roles:
    - roles_provisioning/1-setup-ssh-from-docker-user

- name: Install Pip & Boto 3 for caller_info dependencies
  hosts: all
  become: true
  roles:
    - roles_provisioning/2-install-pip-boto3

# see https://docs.ansible.com/ansible-core/2.17/playbook_guide/playbooks_privilege_escalation.html#risks-of-becoming-an-unprivileged-user
- name: Install ACL so ansible works for non-root users
  hosts: all
  become: true
  roles:
    - roles_provisioning/3-install-acl-for-non-root-users

- name: Install Docker
  hosts: all
  become: true
  roles:
    - roles_provisioning/4-install-docker