- name: Run and expose Unifyy Operations Hub Webapp container on Port 80
  community.docker.docker_container:
    name: "{{ docker_remote_container_name }}"
    image: "{{ docker_container_name }}"
    state: started    # Ensures the container is present and running.
    detach: true      # Runs the container in the background.
    pull: true        # Always attempts to pull the latest version of the image.
    published_ports:
      - "80:80/tcp" # Maps host port 80 (on ec2 host) to container port 80.
    restart_policy: unless-stopped # Restarts the container unless it's explicitly stopped.
    # env: # Optional: Pass environment variables if your container needs them
    #   YOUR_ENV_VAR: "value"
  become: true