# see https://docs.docker.com/engine/install/fedora/

- name: Remove prior / legacy docker installations
  ansible.builtin.dnf:
    name:
    # sudo dnf remove docker docker-compose-plugin docker-ce docker-ce-cli containerd.io docker buildx docker-buildx-plugin docker-client docker-client-latest docker-common docker-latest docker-latest-logrotate docker-logrotate docker-selinux docker-engine-selinux docker-engine docker.io docker-doc docker-compose docker-compose-v2 podman-docker containerd
      - docker
      - docker-compose-plugin
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx
      - docker-buildx-plugin
      - docker-client
      - docker-client-latest
      - docker-common
      - docker-latest
      - docker-latest-logrotate
      - docker-logrotate
      - docker-selinux
      - docker-engine-selinux
      - docker-engine
      - docker.io
      - docker-doc
      - docker-compose
      - docker-compose-v2
      - podman-docker
      - containerd
    state: absent

- name: Clean all dnf metadata and cache
  ansible.builtin.shell: dnf clean all

- name: Install required system packages
  ansible.builtin.dnf:
    name:
      - dnf-plugins-core
      - ca-certificates
    state: latest
    update_cache: true

- name: Install Docker from Amazon Linux 2023 repositories
  ansible.builtin.dnf:
    name:
      - docker # Docker Engine from AL2023 repos
    state: latest
    update_cache: true
  notify:
    - Start docker daemon

- name: Create Docker CLI plugins directory
  ansible.builtin.file:
    path: /usr/local/lib/docker/cli-plugins
    state: directory
    mode: '0755'
  become: true

- name: Install Docker Compose V2 plugin from Github
  ansible.builtin.get_url:
    url: https://github.com/docker/compose/releases/latest/download/docker-compose-linux-x86_64
    dest: /usr/local/lib/docker/cli-plugins/docker-compose
    mode: '0755'
    owner: "{{ linux_user }}"
  become: true
  register: download_result

- name: Verify docker compose V2 installation and get version
  ansible.builtin.command:
    cmd: docker compose version
  register: docker_compose_version_output
  changed_when: false # This command doesn't change state
  when: download_result is succeeded # Only run if download was successful
- ansible.builtin.debug: msg={{ docker_compose_version_output.stdout_lines }}