- name: Run and expose Unifyy Auth API Server container on Port 80
  community.docker.docker_container:
    name: "{{ docker_remote_container_name }}"
    image: "{{ docker_container_name }}"
    state: started    # Ensures the container is present and running.
    detach: true      # Runs the container in the background.
    pull: true        # Always attempts to pull the latest version of the image.
    published_ports:
      - "80:5000/tcp" # Maps host port 80 (on ec2 host) to container port 5000.
    # --add-host Flag explanation
    # Adds an entry to the container's /etc/hosts file
    # Maps host.docker.internal to the actual IP address of the Docker host
    # Enables network communication from container to host services such as IMDSv2 EC2 Metadata service
    etc_hosts:
      host.docker.internal: host-gateway  # Enables container access to host for AWS IMDSv2
    restart_policy: unless-stopped # Restarts the container unless it's explicitly stopped.
    # env: # Optional: Pass environment variables if your container needs them
    #   YOUR_ENV_VAR: "value"
  become: yes