name: Infrastructure Deployment Pipeline

on:
  workflow_dispatch:
    inputs:
      deploy_haproxy:
        description: 'Deploy HAProxy Loadbalancer'
        required: true
        default: true
        type: boolean
      deploy_prometheus:
        description: 'Deploy Prometheus on Monitoring Instance'
        required: false
        default: false
        type: boolean
      deploy_grafana:
        description: 'Deploy GRAFANA on Monitoring Instance'
        required: false
        default: false
        type: boolean

jobs:
  infrastructure-deployment:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      actions: read

    steps:
    - name: Checkout SCM
      uses: actions/checkout@v5
      # https://github.com/actions/checkout

    - name: Configure AWS Credentials with OIDC JWT Token for STS Access to Hcloud Backend Role
      uses: aws-actions/configure-aws-credentials@v5.1.1
      # https://github.com/aws-actions/configure-aws-credentials
      with:
        role-to-assume: arn:aws:iam::010928217051:role/OpenID_Connect_GithubActions_TerraformHcloudBackendAccess
        role-session-name: HcloudInfrastructureDeployment_STSSession
        aws-region: ${{ vars.AWS_REGION }}

    - name: Query SSH private keys for Hcloud servers from AWS Secrets Manager
      env:
        MASTER_PRIVATE_KEY: fiscalismia-infrastructure-master-key-hcloud
        LOADBALANCER_PRIVATE_KEY: fiscalismia-loadbalancer-instance-key-hcloud
        NAT_GATEWAY_PRIVATE_KEY: fiscalismia-nat-gateway-instance-key-hcloud
        MONITORING_PRIVATE_KEY: fiscalismia-monitoring-instance-key-hcloud
      run: |
        set -eou pipefail
        mkdir -p ~/.ssh/

        echo "Starting ssh-agent and exporting environment variables"
        eval "$(ssh-agent -s)"
        echo "SSH_AUTH_SOCK=$SSH_AUTH_SOCK" >> $GITHUB_ENV
        echo "SSH_AGENT_PID=$SSH_AGENT_PID" >> $GITHUB_ENV

        query_aws_plaintext_secret() {
          echo "Querying $1 from AWS"
          aws secretsmanager get-secret-value \
            --secret-id $1 \
            --output text \
            --query SecretString \
            | ssh-add - > /dev/null 2>&1
        }

        query_aws_plaintext_secret ${MASTER_PRIVATE_KEY}
        query_aws_plaintext_secret ${LOADBALANCER_PRIVATE_KEY}
        query_aws_plaintext_secret ${NAT_GATEWAY_PRIVATE_KEY}
        query_aws_plaintext_secret ${MONITORING_PRIVATE_KEY}

    - name: Extract Hcloud Server IP Adresses from Remote State
      env:
        S3_BUCKET: hangrybear-tf-backend-state-bucket
        S3_PREFIX: fiscalismia-infrastructure/hcloud
        S3_KEY: state.tfstate
      run : |
        aws s3 cp s3://${S3_BUCKET}/${S3_PREFIX}/${S3_KEY} .

        bastion_ip=$(cat state.tfstate | jq -r .outputs.fiscalismia_bastion_host_ipv4.value )
        lb_ip=$(cat state.tfstate | jq -r .outputs.fiscalismia_loadbalancer_private_ipv4.value )
        monitor_ip=$(cat state.tfstate | jq -r .outputs.fiscalismia_monitoring_private_ipv4.value )

        echo "BASTION_HOST_PUBLIC_IP=$bastion_ip" >> $GITHUB_ENV
        echo "LOADBALANCER_PRIVATE_IP=$lb_ip" >> $GITHUB_ENV
        echo "MONITORING_INSTANCE_PRIVATE_IP=$monitor_ip" >> $GITHUB_ENV

    - name: Create SSH Config for Bastion-Host ProxyJump
      run: |
        cat << EOF > ~/.ssh/config
        Host bastion-host
            HostName $BASTION_HOST_PUBLIC_IP
            User root
            StrictHostKeyChecking no
            UserKnownHostsFile /dev/null

        Host loadbalancer
            HostName $LOADBALANCER_PRIVATE_IP
            User root
            StrictHostKeyChecking no
            UserKnownHostsFile /dev/null
            ProxyJump bastion-host

        Host monitoring
            HostName $MONITORING_INSTANCE_PRIVATE_IP
            User root
            StrictHostKeyChecking no
            UserKnownHostsFile /dev/null
            ProxyJump bastion-host
        EOF

        chmod 600 ~/.ssh/config

    - name: Deploy HAProxy LOADBALANCER via OpenSSH
      if: inputs.deploy_haproxy == true
      run: |

    - name: Deploy PROMETHEUS on Monitoring Instance via OpenSSH
      if: inputs.deploy_prometheus == true
      run: |
        echo "Deploying Prometheus on Monitoring Instance"

    - name: Deploy FRONTEND Production Instance via OpenSSH
      if: inputs.deploy_grafana == true
      run: |
        echo "Deploying Grafana on Monitoring Instance"