name: Security-Evaluation HCLOUD

on:
  workflow_dispatch:
    inputs:
      internal_security_scan:
        description: 'Internal Security evaluation of hcloud hosts'
        required: true
        default: true
        type: boolean
      external_network_sentinel:
        description: 'Ensure Network-Sentinel is available & launch external portscan'
        required: true
        default: false
        type: boolean

jobs:
  security-evaluate-hcloud:
    runs-on: ubuntu-latest

    permissions:
      id-token: write # for aws OIDC STS tokens to work
      contents: read
      actions: read

    steps:

    - name: Checkout SCM
      uses: actions/checkout@v5
      # https://github.com/actions/checkout

    - name: Configure AWS Credentials with OIDC JWT Token for STS Access to Hcloud Backend Role
      uses: aws-actions/configure-aws-credentials@v5.1.1
      # https://github.com/aws-actions/configure-aws-credentials
      with:
        role-to-assume: arn:aws:iam::010928217051:role/OpenID_Connect_GithubActions_TerraformHcloudBackendAccess
        role-session-name: HcloudSecurityEvaluation_STSSession
        aws-region: ${{ vars.AWS_REGION }}

    - name: Query SSH private keys for Hcloud servers from AWS Secrets Manager
      env:
        MASTER_PRIVATE_KEY: fiscalismia-infrastructure-master-key-hcloud
        LOADBALANCER_PRIVATE_KEY: fiscalismia-loadbalancer-instance-key-hcloud
        NAT_GATEWAY_PRIVATE_KEY: fiscalismia-nat-gateway-instance-key-hcloud
        MONITORING_PRIVATE_KEY: fiscalismia-monitoring-instance-key-hcloud
        DEMO_PRIVATE_KEY: fiscalismia-demo-instance-key-hcloud
        PRODUCTION_PRIVATE_KEY: fiscalismia-production-instances-key-hcloud
      run: |
        set -eou pipefail
        mkdir -p ~/.ssh/

        echo "Starting ssh-agent and exporting environment variables"
        eval "$(ssh-agent -s)"
        echo "SSH_AUTH_SOCK=$SSH_AUTH_SOCK" >> $GITHUB_ENV
        echo "SSH_AGENT_PID=$SSH_AGENT_PID" >> $GITHUB_ENV

        query_aws_plaintext_secret() {
          echo "Querying $1 from AWS"
          aws secretsmanager get-secret-value \
            --secret-id $1 \
            --output text \
            --query SecretString \
            | ssh-add - > /dev/null 2>&1
        }

        query_aws_plaintext_secret ${MASTER_PRIVATE_KEY}
        query_aws_plaintext_secret ${LOADBALANCER_PRIVATE_KEY}
        query_aws_plaintext_secret ${NAT_GATEWAY_PRIVATE_KEY}
        query_aws_plaintext_secret ${MONITORING_PRIVATE_KEY}
        query_aws_plaintext_secret ${DEMO_PRIVATE_KEY}
        query_aws_plaintext_secret ${PRODUCTION_PRIVATE_KEY}

    - name: Extract Hcloud Server IP Adresses from Remote State
      env:
        S3_BUCKET: hangrybear-tf-backend-state-bucket
        S3_PREFIX: fiscalismia-infrastructure/hcloud
        S3_KEY: state.tfstate
      run : |
        aws s3 cp s3://${S3_BUCKET}/${S3_PREFIX}/${S3_KEY} .

        bastion_ip=$(cat state.tfstate | jq -r .outputs.fiscalismia_bastion_host_ipv4.value )
        demo_ip=$(cat state.tfstate | jq -r .outputs.fiscalismia_demo_private_ipv4.value )
        lb_ip=$(cat state.tfstate | jq -r .outputs.fiscalismia_loadbalancer_private_ipv4.value )
        nat_ip=$(cat state.tfstate | jq -r .outputs.fiscalismia_nat_gateway_private_ipv4.value )
        monitor_ip=$(cat state.tfstate | jq -r .outputs.fiscalismia_monitoring_private_ipv4.value )
        front_ip=$(cat state.tfstate | jq -r .outputs.fiscalismia_frontend_private_ipv4.value )
        back_ip=$(cat state.tfstate | jq -r .outputs.fiscalismia_backend_private_ipv4.value )
        sentinel_ip=$(cat state.tfstate | jq -r .outputs.network_sentinel_private_ipv4.value )

        echo "BASTION_HOST_PUBLIC_IP=$bastion_ip" >> $GITHUB_ENV
        echo "DEMO_INSTANCE_PRIVATE_IP=$demo_ip" >> $GITHUB_ENV
        echo "LOADBALANCER_PRIVATE_IP=$lb_ip" >> $GITHUB_ENV
        echo "NAT_GATEWAY_PRIVATE_IP=$nat_ip" >> $GITHUB_ENV
        echo "MONITORING_INSTANCE_PRIVATE_IP=$monitor_ip" >> $GITHUB_ENV
        echo "FRONTEND_INSTANCE_PRIVATE_IP=$front_ip" >> $GITHUB_ENV
        echo "BACKEND_INSTANCE_PRIVATE_IP=$back_ip" >> $GITHUB_ENV
        echo "NETWORK_SENTINEL_PRIVATE_IP=$sentinel_ip" >> $GITHUB_ENV

    - name: Create SSH Config for Bastion-Host ProxyJump
      run: |
        cat << EOF > ~/.ssh/config
        Host bastion-host
            HostName $BASTION_HOST_PUBLIC_IP
            User root
            StrictHostKeyChecking no
            UserKnownHostsFile /dev/null

        Host demo
            HostName $DEMO_INSTANCE_PRIVATE_IP
            User root
            StrictHostKeyChecking no
            UserKnownHostsFile /dev/null
            ProxyJump bastion-host

        Host loadbalancer
            HostName $LOADBALANCER_PRIVATE_IP
            User root
            StrictHostKeyChecking no
            UserKnownHostsFile /dev/null
            ProxyJump bastion-host

        Host nat-gateway
            HostName $NAT_GATEWAY_PRIVATE_IP
            User root
            StrictHostKeyChecking no
            UserKnownHostsFile /dev/null
            ProxyJump bastion-host

        Host network-sentinel
            HostName $NETWORK_SENTINEL_PRIVATE_IP
            User root
            StrictHostKeyChecking no
            UserKnownHostsFile /dev/null
            ProxyJump bastion-host

        Host monitoring
            HostName $MONITORING_INSTANCE_PRIVATE_IP
            User root
            StrictHostKeyChecking no
            UserKnownHostsFile /dev/null
            ProxyJump bastion-host

        Host frontend
            HostName $FRONTEND_INSTANCE_PRIVATE_IP
            User root
            StrictHostKeyChecking no
            UserKnownHostsFile /dev/null
            ProxyJump bastion-host

        Host backend
            HostName $BACKEND_INSTANCE_PRIVATE_IP
            User root
            StrictHostKeyChecking no
            UserKnownHostsFile /dev/null
            ProxyJump bastion-host
        EOF

        chmod 600 ~/.ssh/config

    - name: Generating Private IPV4 Targets for Port Scanning
      env:
        NETWORK_CONFIG: terraform/hetzner-cloud/config/network.private.ips.yml
      run: |
        echo "Parsing Network addresses..."
        PRIVATE_NETWORK_TARGETS=$(yq '
          .ips.gateways | to_entries | .[] | "virtual_network_gateway_" + .key + "_net:" + .value,
          .ips.private_instances | to_entries | .[] | .key + "_private_ipv4:" + .value,
          (.ips.exposed_instances | to_entries | .[] | .key as $parent | .value | to_entries | .[] | $parent + "_private_ipv4_" + .key + "_net:" + .value)
        ' $NETWORK_CONFIG | tr '\n' ' ')
        echo "TARGETS=$PRIVATE_NETWORK_TARGETS" >> $GITHUB_ENV

    - name: Security Evaluation of Loadbalancer
      if: inputs.internal_security_scan == true
      env:
        SCRIPT_NAME: evaluate_loadbalancer_egress.sh
        SCRIPT_PATH: security/hcloud/
        REMOTE_DIR: /root/security/
        REMOTE_LOG: /root/security_evaluation.log
        LOG_NAME: security_evaluation.log
      run: |

        ssh loadbalancer "mkdir -p $REMOTE_DIR"
        ssh loadbalancer "echo $TARGETS > ${REMOTE_DIR}targets"

        scp ${SCRIPT_PATH}${SCRIPT_NAME} loadbalancer:$REMOTE_DIR
        ssh loadbalancer "chmod u+x ${REMOTE_DIR}${SCRIPT_NAME}"
        REMOTE_COMMAND="${REMOTE_DIR}${SCRIPT_NAME} '$TARGETS' > $REMOTE_LOG 2>&1"
        ssh loadbalancer "$REMOTE_COMMAND"
        scp loadbalancer:$REMOTE_LOG ./$LOG_NAME
        cat ./$LOG_NAME

    - name: Security Evaluation of Bastion-Host
      if: inputs.internal_security_scan == true
      env:
        SCRIPT_NAME: evaluate_bastion_host_egress.sh
        SCRIPT_PATH: security/hcloud/
        REMOTE_DIR: /root/security/
        REMOTE_LOG: /root/security_evaluation.log
        LOG_NAME: security_evaluation.log
      run: |

        ssh bastion-host "mkdir -p $REMOTE_DIR"
        ssh bastion-host "echo $TARGETS > ${REMOTE_DIR}targets"

        scp ${SCRIPT_PATH}${SCRIPT_NAME} bastion-host:$REMOTE_DIR
        ssh bastion-host "chmod u+x ${REMOTE_DIR}${SCRIPT_NAME}"
        REMOTE_COMMAND="${REMOTE_DIR}${SCRIPT_NAME} '$TARGETS' > $REMOTE_LOG 2>&1"
        ssh bastion-host "$REMOTE_COMMAND"
        scp bastion-host:$REMOTE_LOG ./$LOG_NAME
        cat ./$LOG_NAME

    - name: Private Ingress Security Evaluation via Network Sentinel
      if: inputs.external_network_sentinel == true
      env:
        SCRIPT_NAME: portscan_private_ingress.sh
        SCRIPT_PATH: security/hcloud/
        REMOTE_DIR: /root/security/
        REMOTE_LOG: /root/portscan_private_ingress.log
        LOG_NAME: portscan_private_ingress.log
        MAX_PORT: 8500 # range between 1-65536
      run: |

        ssh network-sentinel "mkdir -p $REMOTE_DIR"
        ssh network-sentinel "echo $TARGETS > ${REMOTE_DIR}targets"

        scp ${SCRIPT_PATH}${SCRIPT_NAME} network-sentinel:$REMOTE_DIR
        ssh network-sentinel "chmod u+x ${REMOTE_DIR}${SCRIPT_NAME}"
        REMOTE_COMMAND="nohup ${REMOTE_DIR}${SCRIPT_NAME} '$TARGETS' $MAX_PORT > $REMOTE_LOG 2>&1 &"
        ssh network-sentinel "$REMOTE_COMMAND"

        echo "Full Portscan takes about an hour. Find the log at network-sentinel:$REMOTE_LOG"
        # scp network-sentinel:$REMOTE_LOG ./$LOG_NAME
        # cat ./$LOG_NAME