name: Security-Evaluation HCLOUD

on:
  push:
    branches:
      - main
      - pipeline_testing
  pull_request:
    branches:
      - main
      - pipeline_testing

jobs:
  security-evaluate-hcloud:
    environment: prod # requires manual approval before running, as it requires hcloud servers to be up and running
    timeout-minutes: 240 # Cancels the job if it isn't approved within 4 hours
    runs-on: ubuntu-latest

    permissions:
      id-token: write # for aws OIDC STS tokens to work
      contents: read
      actions: read

    steps:

    - name: Configure AWS Credentials with OIDC JWT Token for STS Access to Hcloud Backend Role
      uses: aws-actions/configure-aws-credentials@v5.1.0
      with:
        role-to-assume: arn:aws:iam::010928217051:role/OpenID_Connect_GithubActions_TerraformHcloudBackendAccess
        role-session-name: HcloudSecurityEvaluation_STSSession
        aws-region: ${{ vars.AWS_REGION }}

    - name: Query SSH private keys for Hcloud servers from AWS Secrets Manager
      env:
        MASTER_PRIVATE_KEY: fiscalismia-infrastructure-master-key-hcloud
        LOADBALANCER_PRIVATE_KEY: fiscalismia-loadbalancer-instance-key-hcloud
        NAT_GATEWAY_PRIVATE_KEY: fiscalismia-nat-gateway-instance-key-hcloud
        MONITORING_PRIVATE_KEY: fiscalismia-monitoring-instance-key-hcloud
        DEMO_PRIVATE_KEY: fiscalismia-demo-instance-key-hcloud
        PRODUCTION_PRIVATE_KEY: fiscalismia-production-instances-key-hcloud
      run: |
        set -eou pipefail
        mkdir -p ~/.ssh/
        echo "Querying ${MASTER_PRIVATE_KEY} from AWS"
        aws secretsmanager get-secret-value \
          --secret-id ${MASTER_PRIVATE_KEY} \
          --output text \
          --query SecretString | jq --raw-output '.private_key' \
          >> ~/.ssh/${MASTER_PRIVATE_KEY}
        echo "Querying ${LOADBALANCER_PRIVATE_KEY} from AWS"
        aws secretsmanager get-secret-value \
          --secret-id ${LOADBALANCER_PRIVATE_KEY} \
          --output text \
          --query SecretString | jq --raw-output '.private_key' \
          >> ~/.ssh/${LOADBALANCER_PRIVATE_KEY}
        echo "Querying ${NAT_GATEWAY_PRIVATE_KEY} from AWS"
        aws secretsmanager get-secret-value \
          --secret-id ${NAT_GATEWAY_PRIVATE_KEY} \
          --output text \
          --query SecretString | jq --raw-output '.private_key' \
          >> ~/.ssh/${NAT_GATEWAY_PRIVATE_KEY}
        echo "Querying ${DEMO_PRIVATE_KEY} from AWS"
        aws secretsmanager get-secret-value \
          --secret-id ${DEMO_PRIVATE_KEY} \
          --output text \
          --query SecretString | jq --raw-output '.private_key' \
          >> ~/.ssh/${DEMO_PRIVATE_KEY}
        echo "Querying ${MONITORING_PRIVATE_KEY} from AWS"
        aws secretsmanager get-secret-value \
          --secret-id ${MONITORING_PRIVATE_KEY} \
          --output text \
          --query SecretString | jq --raw-output '.private_key' \
          >> ~/.ssh/${MONITORING_PRIVATE_KEY}
        echo "Querying ${PRODUCTION_PRIVATE_KEY} from AWS"
        aws secretsmanager get-secret-value \
          --secret-id ${PRODUCTION_PRIVATE_KEY} \
          --output text \
          --query SecretString | jq --raw-output '.private_key' \
          >> ~/.ssh/${PRODUCTION_PRIVATE_KEY}

        cd ~/.ssh/
        ls -l

    - name: Extract Hcloud Server IP Adresses from Remote State
      env:
        S3_BUCKET: hangrybear-tf-backend-state-bucket
        S3_PREFIX: fiscalismia-infrastructure/hcloud
        S3_KEY: state.tfstate
      run : |
        aws s3 cp s3://${S3_BUCKET}/${S3_PREFIX}/${S3_KEY} .
        bastion_ip=$(cat state.tfstate | jq .outputs.fiscalismia_bastion_host_ipv4)
        demo_ip=$(cat state.tfstate | jq .outputs.fiscalismia_demo_private_ipv4)
        lb_ip=$(cat state.tfstate | jq .outputs.fiscalismia_loadbalancer_private_ipv4)
        nat_ip=$(cat state.tfstate | jq .outputs.fiscalismia_nat_gateway_private_ipv4)
        monitor_ip=$(cat state.tfstate | jq .outputs.fiscalismia_monitoring_private_ipv4)
        front_ip=$(cat state.tfstate | jq .outputs.fiscalismia_frontend_private_ipv4)
        back_ip=$(cat state.tfstate | jq .outputs.fiscalismia_backend_private_ipv4)

        echo "BASTION_HOST_PUBLIC_IP=$bastion_ip" >> $GITHUB_ENV
        echo "DEMO_INSTANCE_PRIVATE_IP=$demo_ip" >> $GITHUB_ENV
        echo "LOADBALANCER_PRIVATE_IP=$lb_ip" >> $GITHUB_ENV
        echo "NAT_GATEWAY_PRIVATE_IP=$nat_ip" >> $GITHUB_ENV
        echo "MONITORING_INSTANCE_PRIVATE_IP=$monitor_ip" >> $GITHUB_ENV
        echo "FRONTEND_INSTANCE_PRIVATE_IP=$front_ip" >> $GITHUB_ENV
        echo "BACKEND_INSTANCE_PRIVATE_IP=$back_ip" >> $GITHUB_ENV


    - name: Create SSH Config for Bastion-Host ProxyJump
      run: |
        cat << EOF | >> ~/.ssh/config
        Host bastion-host
            HostName $BASTION_HOST_PUBLIC_IP
            User root
            StrictHostKeyChecking no
            UserKnownHostsFile /dev/null
            IdentityFile ~/.ssh/fiscalismia-infrastructure-master-key-hcloud

        Host demo
            HostName $DEMO_INSTANCE_PRIVATE_IP
            User root
            StrictHostKeyChecking no
            UserKnownHostsFile /dev/null
            IdentityFile ~/.ssh/fiscalismia-demo-instance-key-hcloud
            ProxyJump bastion-host

        Host loadbalancer
            HostName $LOADBALANCER_PRIVATE_IP
            User root
            StrictHostKeyChecking no
            UserKnownHostsFile /dev/null
            IdentityFile ~/.ssh/fiscalismia-loadbalancer-instance-key-hcloud
            ProxyJump bastion-host

        Host nat-gateway
            HostName $NAT_GATEWAY_PRIVATE_IP
            User root
            StrictHostKeyChecking no
            UserKnownHostsFile /dev/null
            IdentityFile ~/.ssh/fiscalismia-nat-gateway-instance-key-hcloud
            ProxyJump bastion-host

        Host monitoring
            HostName $MONITORING_INSTANCE_PRIVATE_IP
            User root
            StrictHostKeyChecking no
            UserKnownHostsFile /dev/null
            IdentityFile ~/.ssh/fiscalismia-monitoring-instance-key-hcloud
            ProxyJump bastion-host

        Host frontend
            HostName $FRONTEND_INSTANCE_PRIVATE_IP
            User root
            StrictHostKeyChecking no
            UserKnownHostsFile /dev/null
            IdentityFile ~/.ssh/fiscalismia-production-instances-key-hcloud
            ProxyJump bastion-host

        Host backend
            HostName $BACKEND_INSTANCE_PRIVATE_IP
            User root
            StrictHostKeyChecking no
            UserKnownHostsFile /dev/null
            IdentityFile ~/.ssh/fiscalismia-production-instances-key-hcloud
            ProxyJump bastion-host
        EOF

        chmod 600 ~/.ssh/config
        cat ~/.ssh/config
        ls -hla ~/.ssh/