# See https://docs.github.com/en/rest/actions/workflows?apiVersion=2022-11-28#create-a-workflow-dispatch-event
# See https://docs.github.com/en/webhooks/webhook-events-and-payloads#workflow_dispatch
# The fine-grained token must have the following permission set: "Actions" repository permissions (write)

name: Fiscalismia Terraform ModuleDestroyer Pipeline

on:
  workflow_dispatch:
    inputs:
      destroy_aws:
        description: 'Should AWS modules be destroyed?'
        required: true
        default: false
        type: boolean
      destroy_hcloud:
        description: 'Should hetzner modules be destroyed?'
        required: true
        default: false
        type: boolean

jobs:
  terraform-destroy-aws-and-hcloud:
    if: inputs.destroy_aws == true && inputs.destroy_hcloud == true
    runs-on: ubuntu-latest

    permissions:
      id-token: write # for aws OIDC STS tokens to work
      contents: read
      actions: read

    steps:
    - name: Checkout SCM
      uses: actions/checkout@v5

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v3.1.2

    - name: Configure AWS Credentials with OIDC JWT Token for STS Access to Terraform Pipeline Role
      uses: aws-actions/configure-aws-credentials@v5.1.0
      with:
        role-to-assume: arn:aws:iam::010928217051:role/OpenID_Connect_GithubActions_TerraformPipeline
        role-session-name: TerraformModuleDestroyer_STSSession
        aws-region: ${{ vars.AWS_REGION }}

    - name: Destroy AWS and Hetzner Cloud resources
      env:
        HCLOUD_TOKEN: ${{ secrets.HCLOUD_TOKEN }}
      run: |
        cd ${GITHUB_WORKSPACE}/terraform/aws/
        terraform init
        terraform destroy \
          -var='secret_api_key=${{ secrets.API_GATEWAY_SECRET_KEY }}' \
          -var='test_sheet_url=${{ secrets.GOOGLE_DOCS_TEST_URL }}' \
          -var='forecasted_budget_notification_email=${{ secrets.BUDGET_NOTIFICATION_EMAIL }}' \
          -target=module.route_53_dns \
          -target=module.api_gateway \
          -target=module.lambda_image_processing \
          -target=module.lambda_raw_data_etl \
          -target=module.infrastructure_lambdas \
          -target=module.cost_budget_alarms \
          -target=module.sns_topics \
          -target=module.cloudwatch_metric_alarms \
          -auto-approve

        cd ${GITHUB_WORKSPACE}/terraform/hetzner-cloud/
        terraform init
        terraform destroy --auto-approve