# See https://docs.github.com/en/rest/actions/workflows?apiVersion=2022-11-28#create-a-workflow-dispatch-event
# See https://docs.github.com/en/webhooks/webhook-events-and-payloads#workflow_dispatch
# The fine-grained token must have the following permission set: "Actions" repository permissions (write)