name: HCLOUD Terraform Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  #          __        __        __      __   ___  __        __             ___      ___
  #    |__| /  ` |    /  \ |  | |  \    |  \ |__  |__) |    /  \ \ /  |\/| |__  |\ |  |
  #    |  | \__, |___ \__/ \__/ |__/    |__/ |___ |    |___ \__/  |   |  | |___ | \|  |
  terraform-plan-hcloud:
    runs-on: ubuntu-latest

    permissions:
      id-token: write # for aws OIDC STS tokens to work
      contents: read
      actions: read

    steps:
    - name: Checkout SCM
      uses: actions/checkout@v5
      # https://github.com/actions/checkout

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v3.1.2
      # https://github.com/hashicorp/setup-terraform

    - name: Configure AWS Credentials with OIDC JWT Token for STS Access to Hcloud Backend Role
      uses: aws-actions/configure-aws-credentials@v5.1.1
      # https://github.com/aws-actions/configure-aws-credentials
      with:
        role-to-assume: arn:aws:iam::010928217051:role/OpenID_Connect_GithubActions_TerraformHcloudBackendAccess
        role-session-name: TerraformPlanHcloud_STSSession
        aws-region: ${{ vars.AWS_REGION }}

    - name: Create Planfiles directory for artifacts
      run: mkdir -p ${GITHUB_WORKSPACE}/planfiles

    - name: Query SSH public keys for Hcloud servers from AWS Secrets Manager
      env:
        MASTER_PUBLIC_KEY: fiscalismia-infrastructure-master-key-hcloud.pub
        LOADBALANCER_PUBLIC_KEY: fiscalismia-loadbalancer-instance-key-hcloud.pub
        NAT_GATEWAY_PUBLIC_KEY: fiscalismia-nat-gateway-instance-key-hcloud.pub
        MONITORING_PUBLIC_KEY: fiscalismia-monitoring-instance-key-hcloud.pub
        DEMO_PUBLIC_KEY: fiscalismia-demo-instance-key-hcloud.pub
        PRODUCTION_PUBLIC_KEY: fiscalismia-production-instances-key-hcloud.pub
      run: |
        set -eou pipefail
        mkdir -p ~/.ssh/
        echo "Querying ${MASTER_PUBLIC_KEY} from AWS"
        aws secretsmanager get-secret-value \
          --secret-id ${MASTER_PUBLIC_KEY} \
          --output text \
          --query SecretString | jq --raw-output '.public_key' \
          >> ~/.ssh/${MASTER_PUBLIC_KEY}
        echo "Querying ${LOADBALANCER_PUBLIC_KEY} from AWS"
        aws secretsmanager get-secret-value \
          --secret-id ${LOADBALANCER_PUBLIC_KEY} \
          --output text \
          --query SecretString | jq --raw-output '.public_key' \
          >> ~/.ssh/${LOADBALANCER_PUBLIC_KEY}
        echo "Querying ${NAT_GATEWAY_PUBLIC_KEY} from AWS"
        aws secretsmanager get-secret-value \
          --secret-id ${NAT_GATEWAY_PUBLIC_KEY} \
          --output text \
          --query SecretString | jq --raw-output '.public_key' \
          >> ~/.ssh/${NAT_GATEWAY_PUBLIC_KEY}
        echo "Querying ${DEMO_PUBLIC_KEY} from AWS"
        aws secretsmanager get-secret-value \
          --secret-id ${DEMO_PUBLIC_KEY} \
          --output text \
          --query SecretString | jq --raw-output '.public_key' \
          >> ~/.ssh/${DEMO_PUBLIC_KEY}
        echo "Querying ${MONITORING_PUBLIC_KEY} from AWS"
        aws secretsmanager get-secret-value \
          --secret-id ${MONITORING_PUBLIC_KEY} \
          --output text \
          --query SecretString | jq --raw-output '.public_key' \
          >> ~/.ssh/${MONITORING_PUBLIC_KEY}
        echo "Querying ${PRODUCTION_PUBLIC_KEY} from AWS"
        aws secretsmanager get-secret-value \
          --secret-id ${PRODUCTION_PUBLIC_KEY} \
          --output text \
          --query SecretString | jq --raw-output '.public_key' \
          >> ~/.ssh/${PRODUCTION_PUBLIC_KEY}

        mkdir -p ${GITHUB_WORKSPACE}/ssh_public_keys
        cd ~/.ssh/
        ls -l
        cp -r ./*hcloud.pub ${GITHUB_WORKSPACE}/ssh_public_keys/

    - name: Generate terraform planfile for Hetzner Cloud
      env:
        HCLOUD_TOKEN: ${{ secrets.HCLOUD_TOKEN }}
      run: |
        aws sts get-caller-identity

        cd ${GITHUB_WORKSPACE}/terraform/hetzner-cloud
        if ! [ -z "${HCLOUD_TOKEN}" ]; then echo hcloud token defined; else echo "hcloud token not defined"; fi
        terraform init
        terraform plan \
          -out ${GITHUB_WORKSPACE}/planfiles/hcloud.plan

    - name: Upload Planfile Artifacts
      uses: actions/upload-artifact@v5.0.0
      # https://github.com/actions/upload-artifact
      with:
        name: hcloud-planfile
        retention-days: 1
        path: |
          planfiles/hcloud*

    - name: Upload Hcloud Public Keys for Apply Step
      uses: actions/upload-artifact@v5.0.0
      # https://github.com/actions/upload-artifact
      with:
        name: public-hcloud-keys
        retention-days: 1
        path: |
          ssh_public_keys/*hcloud.pub

  terraform-apply-hcloud:
    environment: prod # requires manual approval before running
    timeout-minutes: 240 # Cancels the job if it isn't approved within 4 hours
    needs:
      - terraform-plan-hcloud

    runs-on: ubuntu-latest

    permissions:
      id-token: write # for aws OIDC STS tokens to work
      contents: read
      actions: read

    steps:
    - name: Checkout SCM
      uses: actions/checkout@v5
      # https://github.com/actions/checkout

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v3.1.2
      # https://github.com/hashicorp/setup-terraform

    - name: Configure AWS Credentials with OIDC JWT Token for STS Access to Hcloud Backend Role
      uses: aws-actions/configure-aws-credentials@v5.1.1
      # https://github.com/aws-actions/configure-aws-credentials
      with:
        role-to-assume: arn:aws:iam::010928217051:role/OpenID_Connect_GithubActions_TerraformHcloudBackendAccess
        role-session-name: TerraformApplyHcloud_STSSession
        aws-region: ${{ vars.AWS_REGION }}

    - name: Download Hcloud Planfile Artifact
      uses: actions/download-artifact@v7.0.0
      # https://github.com/actions/download-artifact
      with:
        name: hcloud-planfile
        path: planfiles/

    - name: Download Hcloud Public SSH Key Artifacts
      uses: actions/download-artifact@v7.0.0
      # https://github.com/actions/download-artifact
      with:
        name: public-hcloud-keys
        path: ~/.ssh/

    - name: Apply approved and reviewed hetzner cloud planfile
      env:
        HCLOUD_TOKEN: ${{ secrets.HCLOUD_TOKEN }}
      run: |
        aws sts get-caller-identity

        ls -l ~/.ssh/
        cd ${GITHUB_WORKSPACE}/terraform/hetzner-cloud
        terraform init
        terraform apply --auto-approve ${GITHUB_WORKSPACE}/planfiles/hcloud.plan
